body {
    background-color: navy;
}

.home-container {
    text-align: center;
}
.home-container h1 {
    color: gold;
}
.home-container img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    background-color: navy;
    padding: 1% 2%;
    border: medium solid gold;
}

form {
        text-align: center;
    }

.navbar a, a:active {
    font-weight: bold;
    font-size: 1em;
    color: white;
    font-size: 1.05em;
    text-decoration: none;
    padding: .5% 1.5%;
    margin-left: .5%;
    margin-right: 3%;
    border: medium solid navy;
}

.navbar a:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;

}

.add a, button {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;
}

.add a:hover, button:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;
    font-size: 1.05em;
    padding: 1%;
}

.container {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 2%;
    background-color: lightyellow;
    border: medium solid gold;
}

.container a {

}

.container a:hover{
}
/* container -> all student/campus cards */
.all-card-holder {
    margin-left: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 1%;
}

.all-card-holder h2 {
    font-size: 1.75vw;
    margin-left: 1%;
    margin-top: -3%;
    margin-bottom: 1%;
    color: white;
}

.all-card-holder .add-card {
    text-align: right;
    margin-top: .4%;
    margin-right: 2%;
    margin-bottom: 1%;
}

/* small cards */
.add-card a {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;
}

.add-card a:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;
    font-size: 1.05em;
    padding: 1%;
}

.student_header_container
{
 text-align: center;
 margin-left: 70%;
 font-family: Arial, Helvetica, sans-serif;
 border: medium solid gold;
}

.single-student img
{
  margin-left: 10%;
  margin-top: 40%;
  display: block;
 max-width:100%;
    height:auto;
  
}

#gpa
{
    text-align: center;
}

#fixed-button
{
    position: fixed;
    right: 50;
    bottom: 0;
    width: 100px;
    height: auto;
    border: 0px solid #d6d6d6;
    z-index: 99;
    padding: 0;
    text-align: center;
    background: yellow;
}


#all-card {
    display: inline-block;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1.5% 2%;
    background-color: lightyellow;
    border: medium solid gold;
    width: 10%;
    height: 30%;
}
form button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;   
}


form {
    text-align: left;
    margin: 1% 2%;
}

form h2 {

}
form input {
    margin: .5%;
    width: 20%;
}
form button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;   
}
form button:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;

}

