body {
    background-color: navy;
}

.home-container {
    text-align: center;
}
.home-container h1 {
    color: gold;
}
.home-container img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    background-color: navy;
    padding: 1% 2%;
    border: medium solid gold;
}

form {
        text-align: center;
    }

.navbar a, a:active {
    font-weight: bold;
    font-size: 1em;
    color: white;
    font-size: 1.05em;
    text-decoration: none;
    padding: .5% 1.5%;
    margin-left: .5%;
    margin-right: 3%;
    border: medium solid navy;
}

.navbar a:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;

}

.add a {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;
}

.add a:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;
    font-size: 1.05em;
    padding: 1%;
}

.container {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 2%;
    background-color: lightyellow;
    border: medium solid gold;
}

.container a {

}

.container a:hover{
}

.all-card-holder {
    margin-top: 2%;
    padding: 1%;
}

.all-card-holder a {
}

#all-card {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2% 2%;
    background-color: lightyellow;
    border: medium solid gold;
    width: 20%;
    height: 30%;
}


form {
    text-align: left;
    margin: 1% 2%;
}

form h2 {

}
form input {
    margin: .5%;
    width: 20%;
}
form button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;   
}
form button:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;

}

