body {
    background-color: navy;
}

.home-container {
    text-align: center;
}
.home-container h1 {
    color: gold;
}
.home-container img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    background-color: navy;
    padding: 1% 2%;
    border: medium solid gold;
}

form {
        text-align: center;
    }

a, a:active {
    font-weight: bold;
    font-size: 1em;
    color: white;
    font-size: 1.05em;
    text-decoration: none;
    padding: .5% 1.5%;
    margin-left: .5%;
    margin-right: 3%;
    border: medium solid navy;
}

a:hover {
    color: navy;
    background-color: gold;
    border: medium solid navy;

}

.container {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1% 1%;
    background-color: white;
    border: medium solid gold;
}

.container button{
    color: white;
    font-weight: bold;
    background-color: navy;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;
}

.container button:hover{
    color: white;
    background-color: gold;
    border: medium solid gold;
    font-size: 1.05em;
    padding: 1%;
}
